.statistics {
    background: #64c5b11c;
    margin: 0 auto;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px 10px;
}

.statistics .title {
    font-size: 45px;
    text-align: center;
    display: block;
}

.type,
.date {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
}

.date>div {
    display: inline-block;
    width: 60%;
    text-align: center;
}

.date>div select {
    font-size: 20px;
    padding: 15px;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.type label {
    width: 35%;
}

.type select {
    width: 25%;
}

.actions {
    text-align: center;
}

.results {
    margin-top: 40px;
}

.results .revenue>span,
.results .employee>span {
    font-size: 30px;
}

.results .employee {
    margin-top: 30px;
}