.item {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin: 0 auto;
    padding: 15px 10px;
    border-bottom: 2px solid rgba(0,0,0,.1);
    cursor: pointer;
}

.item:hover {
    background: rgba(204, 204, 204, .35);
}

.item .info {
    width: 70%;
    align-self: center;
}

.item img {
    width: 20%;
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}

.info-detail {
    width: 90%;
    line-height: 30px;
}

.info-detail span:first-child {
    font-weight: bold;
}

.info-detail span:last-child {
    float: right;
}

.link,
.link:hover,
.link:focus,
.link:active {
    text-decoration: unset;
    color: unset;
}

.actions {
    width: 30%;
    align-self: center;
}

.actions button {
    margin-top: 0;
    margin-bottom: 5px;
}