.sidebar {
    height: 100vh;
    left: 0;
    top: 0;
    padding-bottom: 50px;
    position: fixed;
    width: 300px;
    z-index: 3;
    overflow: hidden;
    overflow-y: auto;
    transition: 0.5s;
    background: #FFFFFF;
    box-shadow: 0 12px 30px rgb(80 143 244 / 10%);
}

.sidebar .logo {
    margin: 30px;
    background: #fff;
    border-radius: 7px;
    padding-bottom: 20px;
}

.sidebar .logo img {
    width: 100%;
    vertical-align: middle;
    border-style: none;
    object-fit: cover;
}

.sidebar .menu {
    padding-left: 10px;
}

.sidebar .menu>li {
    margin-left: 0px;
}

.sidebar .menu li a {
    font-size: 23px;
    font-weight: 400;
    padding: 10px 0px;
    transition: .3s;
    z-index: 0;
    position: relative;
    background: transparent;
    color: #8890B5;
    margin-top: 25px;
    text-decoration: unset;
    display: inline-block;
    margin-left: 20px;
    max-width: 220px;
}

.sidebar .menu li a.active {
    color: #082e26;
}

li {
    list-style: none;
}