.sign-in-htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear;
}

.group input.invalid,
.group input.invalid:focus,
.group input.invalid:active,
.group input.invalid:focus-visible {
    border: 1px solid red;
}

.group .error {
    color: red;
    margin: 0;
    padding-left: 18px;
    font-size: 15px;
    font-weight: bold;
}

.sign-in-htm.show {
    transform: rotate(0);
    display: contents;
}

.group {
    margin-bottom: 15px;
}

.group .label,
.group .button {
    text-transform: uppercase;
}

.group .input,
.group .button {
    border: none;
    padding: 10px 0 10px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1);
    font-size: 20px;
}

.group .label,
.group .input,
.group .button {
    width: 97%;
    color: #fff;
    display: block;
}

.group input[data-type="password"] {
    text-security: circle;
    -webkit-text-security: circle;
}

.group .label {
    color: #aaa;
}

.group .button {
    background: #1161ee;
    cursor: pointer;
}

.group .button:disabled {
    color: #fff;
    background: #ccc;
    cursor: not-allowed;
}

p.error {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
}