.button {
    background-color: transparent;
    border: 1px solid #64C5B1;
    color: #64C5B1;
    align-self: center;
    margin-top: 15px;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    padding: 15px;
    min-width: 150px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.button:disabled,
.button:disabled:hover {
    color: #ddd !important;
    cursor: not-allowed !important;
    border-color: #ddd !important;
    background: transparent !important;
}

.button.otp {
    align-self: flex-end;
    min-width: unset;
    width: 50%;
}

.button.post-repair {
    display: none;
}

.button.success {
    background-color: transparent;
    border: 1px solid;
    color: rgb(68, 184, 68);
}

.button.success:hover {
    background: rgb(68, 184, 68);
    color: white;
    border: 1px solid;
}

.button.warning {
    border-color: #ffc107;
    color: #ffc107;
}

.button.warning:hover {
    background: #ffc107;
    color: white;
}

.button:hover {
    background-color: #64C5B1;
    color: #fff;
}