.search-input {
    display: inline-block;
    width: 70%;
}

.search-input.profile {
    display: block;
    width: 90%;
}

.search-input input.invalid,
.search-input input.invalid:focus,
.search-input input.invalid:active,
.search-input input.invalid:focus-visible {
    border-color: red;
    outline: none;
}

p.error {
    text-align: left;
    width: 75%;
    margin-top: 5px;
    color: red;
    margin-left: auto;
}

.autocomplete-dropdown-container div {
    padding: 10px;
    border: 2px solid #ddd;
    width: 100%;
}

.autocomplete-dropdown-container span {
    padding: 5px;
    line-height: 30px;
    font-size: 20px;
}