.group-input {
    margin: 25px 0;
    position: relative;
}

.group-input label {
    width: 25%;
    display: inline-block;
    font-size: 20px;
}

.group-input.address input {
    width: 100%;
}

.group-input input,
.group-input select {
    width: 70%;
    font-size: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
}

.group-input input.invalid,
.group-input input.invalid:focus,
.group-input input.invalid:active,
.group-input input.invalid:focus-visible {
    border-color: red;
    outline: none;
}

.group-input p.error {
    text-align: left;
    width: 75%;
    margin-top: 5px;
    color: red;
    margin-left: auto;
}

.group-input select {
    box-sizing: unset;
}