.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
}

.backdrop.posible-company,
.backdrop.employee-random {
    background-color: transparent;
}

.backdrop.assign-emp,
.backdrop.edit-emp,
.backdrop.new-service,
.backdrop.new-emp {
    z-index: 24;
}

.modal {
    position: fixed;
    top: 25vh;
    left: 5%;
    width: 90%;
    background-color: white;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
    overflow: hidden;
}

.modal::-webkit-scrollbar {
    display: none;
}

.modal.edit-emp,
.modal.new-service,
.modal.new-emp {
    width: 50%;
}

.modal.assign-emp {
    width: 70%;
}

.modal.auth {
    background: rgba(40, 57, 101, .9);
}

.modal.new-service {
    z-index: 999;
}

.modal .title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 0 16px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .modal {
        width: 40rem;
        left: calc(50% - 20rem);
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        top: -50%;
    }
    to {
        opacity: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.close {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 25px;
    cursor: pointer;
}