.blue {
    color: #185875;
}

.title {
    font-size: 3em;
    font-weight: 300;
    line-height: 1em;
    text-align: center;
    color: #4DC3FA;
}

.container.statistics {
    padding-bottom: 20px;
}

.container button {
    margin-top: 0;
}

.container th h1 {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.container td {
    font-weight: normal;
    font-size: 18px;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
    text-align: left;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
}

.container td,
.container th {
    padding: 10px;
    text-align: center;
}


/* Background-color of the odd rows */

.container tr:nth-child(odd) {
    background-color: #f1f1f1;
}


/* Background-color of the even rows */

.container tr:nth-child(even) {
    background-color: #D9E4E6;
}

.container th {
    background-color: #64C5B1;
}

.container:not(.schedule) td:first-child {
    color: red;
}

.container tr:hover {
    background-color: #a1a1a15c;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
    background-color: #FFF842;
    color: #403E10;
    box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
    transform: translate3d(6px, -6px, 0);
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

.container:not(.schedule) td:first-child:hover,
.container:not(.services) td:last-child:hover {
    background-color: inherit;
    color: red;
    font-weight: inherit;
    box-shadow: unset;
    transform: unset;
}

.container.services {
    margin-top: 75px;
}

@media (max-width: 800px) {
    .container td:nth-child(4),
    .container th:nth-child(4) {
        display: none;
    }
}