.info {

}

.info .logo {
    position: relative;
    width: fit-content;
    left: 50%;
    top: -105px;
    transform: translateX(-50%);
}

.info .logo img {
    border-radius: 50%;
    border: 3px solid;
    width: 200px;
    height: 200px;
    background: white;
}

.info .details {
    width: 1000px;
    margin: -80px auto 0;
}

.info .details span {
    width: 35%;
    line-height: 40px;
}

.description {
    width: 65%;
    color: black;
}

.info-basic {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #20bdff;
}

.info .details .info-basic span {
    width: 100%;
}