.post-repair.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.post-repair .services,
.post-repair .time-book {
    width: 55%;
    margin: 50px auto;
}

.post-repair .form {
    width: 100%;
}

.actions {
    text-align: center;
    margin-top: 50px;
}