body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    cursor: wait;
    background: #0000001a;
}

.loading>div {
    position: absolute;
    left: 50%;
    top: 50%;
}

.css-yk16xz-control {
    font-size: 20px;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: transparent !important;
}

.css-2b097c-container {
    width: 73%;
    float: right;
    margin-right: 7px;
}