.banner-wrapper .banner-star,
.banner-wrapper .banner-title {
    position: absolute;
    width: 100%;
}

.banner-wrapper .banner-star {
    top: 42%;
    text-align: center;
}

.banner-wrapper .banner-star img {
    display: inline-block;
}

.banner-wrapper .banner-title {
    top: 45%;
}

.banner-wrapper .banner-title span {
    color: white;
    display: block;
    text-align: center;
}

.banner-wrapper .banner-title span:first-child {
    font-family: DancingScript;
    line-height: 70px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 40px;
}

.banner-wrapper .banner-title span:nth-child(2) {
    font-family: Poppins;
    line-height: 95px;
    letter-spacing: 0px;
    font-weight: 600;
    font-size: 86px;
    width: 50%;
    margin: 0 auto;
}

.banner-item.slick-slide {
    position: relative;
    height: 851px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}