.search-input {
    position: absolute;
    left: 50%;
    z-index: 9;
    top: 20%;
    width: 35%;
    transform: translateX(-50%);
}

.search-input.post-repair {
    position: unset;
    transform: unset;
    margin: 0 auto;
    width: 55%;
}

.search-input.post-repair input {
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

.autocomplete-dropdown-container div {
    padding: 10px;
}

.autocomplete-dropdown-container span {
    padding: 5px;
    line-height: 30px;
}