.calendar,
.services {
    width: 78%;
    margin: 0 auto;
}

.calendar>span,
.services>span {
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
    display: block;
    color: #64C5B1;
}

.services select {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 0;
    font-size: 20px;
    background: transparent;
    border-radius: 5px;
}

.employee {
    width: 70%;
    margin: 20px auto 0;
    font-size: 20px;
}

.employee button {
    margin-top: 0;
    padding: 10px;
}

.employee table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;
}

.employee table tr {
    border-bottom: 1px solid #ddd;
}

.employee table tr:nth-child(even) {
    background-color: #f1f1f1
}

.employee table td,
.employee table th {
    padding: 8px 8px;
    display: table-cell;
    text-align: center;
    vertical-align: baseline;
    border: 1px solid #ddd;
}

.employee thead,
.employee tbody {
    text-align: center;
}

.assign-emp {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.cal-ser {
    width: 45%;
}

.employee thead td {
    font-weight: bold;
}