.confirm-info {
    padding: 10px 5px;
}

.confirm-info span {
    display: block;
    font-size: 20px;
    line-height: 40px;
}

.confirm-info button {
    margin: 15px auto 0;
    display: block;
}
