.profile {
    width: 88%;
    margin: 0 auto;
    max-height: 600px;
    overflow-y: auto;
}

.profile::-webkit-scrollbar {
    display: none;
}

.calendar {
    position: absolute;
    bottom: 0;
    left: 42%;
}

.profile>button {
    font-size: 25px;
    padding: 15px 50px;
    display: block;
    margin: 50px auto 0;
}