.profile {
    width: 100%;
    max-height: 540px;
    overflow-y: scroll;
    padding: 0 8px;
    margin-right: 0;
}

.profile input,
.profile select {
    width: 90%;
    margin-top: 5px;
}

.calendar {
    position: absolute;
    bottom: 0;
    left: 42%;
}

.profile>button {
    font-size: 25px;
    padding: 15px 50px;
    display: block;
    margin: 30px auto 0;
}

p.error {
    color: red;
    font-weight: bold;
    margin-bottom: 0;
}