.profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}

.avatar {
    width: 30%;
}

.avatar img {
    max-width: 230px;
    height: auto;
    object-fit: cover;
}

.info {
    width: 65%;
}