.register-service-item {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    border-bottom: 1px solid #ccc;
}

.register-service-item.reverse {
    flex-direction: row-reverse;
}

.register-service-item .row {
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    font-size: 17px;
}

.register-service-item .row a {
    color: #198754;
    text-decoration: none;
}

.register-service-item .row button {
    margin-top: 0;
}

.register-service-item .row button a {
    color: #fff;
}

.register-service-item .row button:hover a {
    color: #198754;
}

.register-service-item .row span:last-child {
    width: 65%;
    text-align: end;
}

.register-service-item .info {
    width: 52%;
}

.register-service-item .image-type {
    width: 35%;
    height: 300px;
    align-self: center;
}

.register-service-item .image-type img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.add-comment {
    padding: 30px 20px;
    text-align: center;
    border: 1px solid #cccccc96;
    border-radius: 5px;
    margin-top: 35px;
}

.add-comment textarea {
    display: block;
    width: 100%;
    border-color: #ccc;
}