.list-services {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: all .3s linear;
}

.list-services.active {
    padding: 20px 25px;
    max-height: 285px;
    overflow-y: scroll;
}

.list-services .title {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.service-item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
}

.service-item .col {
    width: 30%;
}

.service-item .col p:first-child {
    font-weight: bold;
}

.service-item button {
    margin-top: 0 !important;
}