.service-item {
    width: 25%;
    cursor: pointer;
    margin-bottom: 10px;
}

.service-item img {
    width: 70px;
    height: 50px;
}

.service-item span {
    display: block;
}

.service-item input {
    width: 20px;
    height: 20px;
}