@import url('https://fonts.googleapis.com/css?family=Nunito');
body {
    font-family: 'Nunito', sans-serif;
}

body::-webkit-scrollbar {
    width: 13px;
}

body::-webkit-scrollbar-thumb {
    height: 125px;
    border-radius: 7px;
    border: 3px solid transparent;
    background-color: #6060606e;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 0%);
    background-color: transparent;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.wrapper .content {
    background-color: #fff;
    padding: 0 15px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    min-width: 200px;
}

.wrapper .content header {
    text-align: center;
}

.wrapper .content header h1 {
    margin-top: 0;
    font-size: 230%;
}

.wrapper .content .auth-form {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 720px) {
    .wrapper .content {
        padding-right: 0;
        padding-left: 0;
        margin: 0 10px;
    }
}