.navs {
    padding-bottom: 10px;
}

.nav-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-items ul li a,
.nav-items ul li {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all .3s linear;
    border-radius: 3em;
}

.nav-items ul li a {
    color: white;
    font-size: 17px;
    text-decoration: none;
    padding: 1em 1.6em .7em;
}

.nav-items ul li a:hover, 
.nav-items ul li a.active {
    border-color: white;
}

.nav-items .dropdown ul li a {
    padding: 10px 15px;
}

.dropdown {
    position: relative;
    margin-left: 50px;
}

.dropdown ul {
    position: absolute;
    width: 265px;
    background: #36d0c4;
    padding: 10px 0;
    transform: translate(-50%, 10px);
    left: 50%;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all .5s linear;
}

.dropdown:hover ul {
    opacity: 1;
    visibility: visible;
}

.dropdown .icon-user {
    font-size: 30px;
}