.header {
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    z-index: 23;
    padding: 15px 30px;
    position: relative;
    border-radius: 0px;
    margin: 0;
    background: #FFFFFF;
    border-radius: 0;
}