.profile_info {
    position: relative;
    width: fit-content;
    margin: 0 0 0 auto;
}

.profile_info:hover .profile_info_inner {
    opacity: 1;
    visibility: visible;
    top: 60px;
}

.profile_info img {
    max-width: 42px;
    max-height: 42px;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: middle;
    border-style: none;
}

.profile_info_inner {
    position: absolute;
    right: 0;
    background-color: #fff;
    text-align: left;
    width: 215px;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    top: 40px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.profile_author_name {
    padding: 20px 25px;
    background: #567AED;
    border-radius: 10px 15px 0px 0px;
}

.profile_author_name h5 {
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.profile_info_details {
    padding: 20px 25px;
}

.profile_info_details a {
    color: #2E4765;
    font-size: 20px;
    display: block;
    padding: 10px 0;
    font-weight: 400;
    text-decoration: unset;
}

.authen {
    text-align: right;
}

.authen ul {
    padding: 0;
    margin: 0;
}

.authen li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
    cursor: pointer;
}