.login-wrap {
    width: 100%;
    margin: 0;
    position: relative;
    font-size: 16px;
}

.login-html {
    width: 100%;
    height: 100%;
    background: rgba(40, 57, 101, .9);
}

.login-html .sign-in,
.login-html .sign-up {
    display: none;
}

.login-html .tab {
    text-transform: uppercase;
    cursor: pointer;
}

.login-html .tab {
    font-size: 20px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.login-html .sign-in:checked+.tab,
.login-html .sign-up:checked+.tab {
    color: #fff;
    border-color: #1161ee;
}

.login-form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    margin-top: 10px;
}