.employee-random {
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.employee-random .image {
    width: 35%;
}

.employee-random .image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.employee-random .info {
    width: 55%;
    align-self: center;
}

.employee-random .info .item {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 35px;
}