.table-users .header {
    background-color: #20bdff;
    color: white;
    font-size: 1.5em;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.table-users tbody {
    display: block;
    height: 500px;
    overflow: auto;
}

.table-users tbody::-webkit-scrollbar {
    display: none;
}

.table-users img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.table-users {
    border: 1px solid #327a81;
    border-radius: 10px;
    max-width: calc(100% - 2em);
    margin: 1em auto;
    overflow: hidden;
    width: 1000px;
    border-top: unset;
}
.table-users table {
    width: 100%;
}
.table-users table td, table th {
    color: #2b686e;
    padding: 10px;
}
.table-users table td {
    text-align: center;
    vertical-align: middle;
    width: 125px;
}

.table-users table th {
    background-color: #daeff1;
    font-weight: 300;
}
.table-users table tr:nth-child(2n) {
    background-color: white;
}
.table-users table tr:nth-child(2n + 1) {
    background-color: #edf7f8;
}
@media screen and (max-width: 700px) {
    .table-users table, tr, td {
        display: block;
    }
    .table-users td:first-child {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100px;
   }
   .table-users td:not(:first-child) {
        clear: both;
        margin-left: 100px;
        padding: 4px 20px 4px 90px;
        position: relative;
        text-align: left;
   }
   .table-users td:not(:first-child):before {
        color: #91ced4;
        content: "";
        display: block;
        left: 0;
        position: absolute;
   }
   .table-users td:nth-child(2):before {
        content: "Name:";
   }
   .table-users td:nth-child(3):before {
        content: "Email:";
   }
   .table-users td:nth-child(4):before {
        content: "Phone:";
   }
   .table-users td:nth-child(5):before {
        content: "Comments:";
   }
   .table-users tr {
        padding: 10px 0;
        position: relative;
   }
   .table-users tr:first-child {
        display: none;
   }
}
@media screen and (max-width: 500px) {
    .table-users .header {
        background-color: transparent;
        color: #fff;
        font-size: 2em;
        font-weight: 700;
        padding: 0;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
   }
   .table-users img {
        border: 3px solid;
        border-color: #daeff1;
        height: 100px;
        margin: 0.5rem 0;
        width: 100px;
   }
   .table-users td:first-child {
        background-color: #c8e7ea;
        border-bottom: 1px solid #91ced4;
        border-radius: 10px 10px 0 0;
        position: relative;
        top: 0;
        transform: translateY(0);
        width: 100%;
   }
   .table-users td:not(:first-child) {
        margin: 0;
        padding: 5px 1em;
        width: 100%;
   }
   .table-users td:not(:first-child):before {
        font-size: 0.8em;
        padding-top: 0.3em;
        position: relative;
   }
   .table-users td:last-child {
        padding-bottom: 1rem !important;
   }
   .table-users tr {
        background-color: white !important;
        border: 1px solid #6cbec6;
        border-radius: 10px;
        box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
        margin: 0.5rem 0;
        padding: 0;
   }
    .table-users {
        border: none;
        box-shadow: none;
        overflow: visible;
   }
}
