.emp-item {
    font-size: 20px;
}

.emp-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.emp-info .details {
    width: 30%;
    padding-left: 50px;
}

.emp-info .details span {
    display: block;
    line-height: 35px;
    color: black;
}

.emp-des {
    width: 56%;
    margin-top: 50px;
}

.emp-des h2 {

}

.emp-des .des {
    color: black;
    border: 1px solid #ccc;
    padding: 20px 10px;
    border-radius: 5px;
}