.avatar {
    width: 20%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.avatar.account {
    width: 35%;
    max-height: 212px;
}

.avatar img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.avatar .name {
    width: 55%;
    align-self: center;
    text-align: center; 
    font-size: 20px;
    color: red;
    font-weight: bold;
}

.avatar .name span {
    display: block;
}