.button {
    background-color: #20bdff;
    border: unset;
    color: #fff;
    align-self: center;
    margin-top: 15px;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    padding: 15px;
    min-width: 150px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
}

.button.pick-image {
    margin: 10px 0px;
    padding: 10px 0;
    background: #454545d9;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
    background: #ccc;
    cursor: not-allowed;
}

.button.otp {
    align-self: flex-end;
    min-width: unset;
    width: 50%;
    padding: 10px;
    font-size: 15px;
}

.button.post-repair {
    display: none;
}

.button.warning {
    background-color: #f15c24;
    border: 1px solid;
}

.button.warning:hover {
    background: transparent;
    color: #f15c24;
    border: 1px solid;
}

.button.success {
    background-color: #198754;
    border: 1px solid;
}

.button.success:hover {
    background: transparent;
    color: #198754;
    border: 1px solid;
}

.button:hover {
    background-color: #5433ff;
}