.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 100%;
    max-width: 400px;
}

.input-group .otp input {
    width: 39%;
}

.input-group.addtion-item {
    width: 50%;
}

.input-group.addtion-item label {
    font-size: 20px;
}

.input-group input {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #e4eff8;
    background-color: #e4eff8;
    border-radius: 50px;
    tranistion: border 0.5s;
    -webkit-tranistion: border 0.5s;
}

.input-group.invalid input,
.input-group.invalid input:focus,
.input-group.invalid input:active {
    border-color: red;
}

.input-group input:focus {
    outline: 0;
    border-color: #20bdff;
}

.input-group label {
    color: #999;
    font-size: 15px;
    margin-bottom: 3px;
    margin-left: 16px;
}

.input-group .error {
    color: red;
    margin: 0;
    padding-left: 18px;
    font-size: 13px;
}
