.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
}

.backdrop.posible-company,
.backdrop.employee-random {
    background-color: transparent;
}

.modal {
    position: fixed;
    top: 25vh;
    left: 5%;
    width: 90%;
    background-color: white;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 999;
    animation: slide-down 300ms ease-out forwards;
    overflow: hidden;
}

.modal.paypal {
    padding: 55px 25px 10px;
}

.modal::-webkit-scrollbar {
    display: none;
}

.modal .title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 0 16px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .modal {
        width: 40rem;
        left: calc(50% - 20rem);
    }
    .modal.employee-high-value,
    .modal.emp-random {
        width: 50%;
        min-height: 550px;
    }
    .modal.posible-company {
        width: 45%;
        min-height: 650px;
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        top: -50%;
    }
    to {
        opacity: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.close {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 25px;
    cursor: pointer;
}

.close::after {
    content: '';
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    display: block;
    position: absolute;
    top: -3px;
    left: -9px;
    border-radius: 50%;
}