.pagination {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 75px 0 60px;
}

.pagination a {
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 20px;
    margin: 0 5px;
}

.pagination a.active {
    background-color: #f15c24;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}