.profile {
    overflow-y: scroll;
    max-height: 540px;
}

.profile::-webkit-scrollbar {
    display: none;
}

.profile>button {
    display: block;
    margin: 0 auto;
}

.type-services {
    width: 74%;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.type-services select {
    width: 62%;
}

.type-services button {
    margin-top: 0;
    margin-left: 20px;
}

.add-type {
    width: 100%;
    text-align: right;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.add-type button {
    display: block;
    margin: 20px 0 0 auto;
}

.add-type input,
.add-type select {
    width: 50%;
    margin-left: 15px;
}