.page-wrapper {
    padding-left: 300px;
    padding-top: 0px !important;
    transition: .5s;
    position: relative;
    min-height: 100vh;
    padding-bottom: 80px;
    z-index: 1;
}

.main-content {
    min-height: 68vh;
    transition: .5s;
    position: relative;
    background: #F3F4F3;
    margin: 0;
    z-index: 22;
    border-radius: 0px;
    padding: 30px 30px;
}