.dashboard {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.detail {
    width: 55%;
}

.detail .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.detail .item div {
    margin-top: 0;
}

.detail .item span {
    align-self: center;
}

.detail .item.calendar span {
    align-self: baseline;
}

.detail .item.calendar > div {
    flex-wrap: wrap;
    width: 42%;
}

.dashboard input {
    padding: 10px;
    font-size: 16px;
    border-color: #ccc;
    border-radius: 5px;
    width: 37.5%;
}

.dashboard input.name {
    width: 75%;
}

.dashboard .calendar input {
    width: 90%;
}

.dashboard input.invalid, 
.dashboard input.invalid:focus,
.dashboard input.invalid:active, 
.dashboard input.invalid:focus-visible {
    border-color: red;
    outline: none;
}

.dashboard p.error {
    font-size: 12px;
    text-align: right;
    width: 100%;
    display: block;
    margin-top: 3px;
    color: red;
}

.actions {
    width: 100%;
    text-align: center;
}