.post-item {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    border-bottom: 1px solid #ccc;
}

.post-item.reverse {
    flex-direction: row-reverse;
}

.post-item .row {
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    font-size: 17px;
}

.post-item .row button {
    margin-top: 0;
}

.post-item .row span:last-child {
    width: 65%;
    text-align: end;
}

.post-item .info {
    width: 52%;
}

.post-item .image-type {
    width: 35%;
    height: 300px;
    align-self: center;
}

.post-item .image-type img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}